@media (max-width: 768px) {
    #desktop{
       display: none;
    }
    .menuToggle{
       display: block;
    }
    #mobileMenu{
    z-index: 99999;
    }
    #mobile{
       display: block;
 
    }
   footer{
       position: fixed;
       bottom: 0;
       width: 100%;
   }

   .mobile-menu {
       display: block;
   }
}